body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

form {
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 8px;
}

input, button {
  margin: 10px;
  padding: 8px;
  width: 200px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
}
